* {
    font-family: sans-serif;
    transition: all ease 0.2s;
}

body {
    background-color: rgb(113, 137, 137);
    background-image: url(img/wallpaper.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.body {
    display: flex;
}

.container {
    margin: 50px;
    width: 425px;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 840px;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.bg1 {
    background-image: url('img/wallpaper2.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin-left: -8px;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-right: -8px;
    border: 5px solid black;
    z-index: 1;
}

.title {
    background-color: white;
    width: 150px;
    text-align: center;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    margin-top: 50px;
}

#thecookie,
#cookie_shadow {
    width: 325px;
    margin: auto;
    display: block;
}

#thecookie:hover,
#cookie_shadow:hover {
    width: 330px;
    cursor: pointer;
}

#thecookie {
    z-index: 1;
}

#cookie_shadow {
    position: relative;
    bottom: 325px;
    z-index: -1;
}

.divCookie {
    margin-bottom: -325px;
}

#cookies,
#upgrades {
    background-color: white;
    width: fit-content;
    margin: auto;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
}

#upgrades {
    font-size: 20px;
}

.upgradeBtn {
    background-color: lightgray;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    width: fit-content;
    height: 30px;
    position: relative;
    bottom: 2px;
}

.upgradeBtn:hover {
    cursor: pointer;
    background-color: rgb(176, 176, 176);
}

.cookiePreco {
    color: white;
    background-color: green;
    padding: 2px;
    border-radius: 5px;
}

#debug {
    background-color: white;
    width: 250px;
    padding: 5px;
    position: fixed;
    top: 0px;
    left: 10px;
}